.create-question-wrapper {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    padding-top: 100px;
    width: 50%;
}

.create-question-h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}


.create-question-head {
    font-size: 20px;
}

.create-question-head-sub {
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-question-errors {
    color: red;
    margin-bottom: 3px;
}

.create-question-input {
    margin-bottom: 6px;
    border: solid lightgray 1px;
    border-radius: 3px;
    width: 600px;
    height: 35px;

}

.create-question-button {
    width: 160px;
    height: 30px;
    background-color: rgb(42, 164, 239);
    border: none;
    margin-top: 5px;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}
