
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.logo-pic {
    width: 80px;
}

.login-error {
    color: red;
    margin-bottom: 5px;
    font-size: 17px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.login-label {
    font-size: 18px;
}

.login-input {
    width: 300px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: solid 1px lightgrey;
}

.login-login-button {
    width: 308px;
    height: 35px;
    background-color: rgb(42, 164, 239);
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.login-demo-button {
    width: 308px;
    height: 35px;
    background-color: rgb(42, 164, 239);
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.login-sentence {
    margin-top: 10px;
    font-size: 18px;
}
