nav {
    width: auto;
    margin: 0 auto;
    background-color: rgb(227, 226, 226);
}

.navBar-main {
    box-sizing: border-box;
    min-height: 60px;
    margin: 0 auto;
    width: 100%;
    max-width: 90rem;
}

.navBar-outer {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.navBar-link {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
    margin-top: 5px;

}

.navbar-search {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    width: 60%;

}

.navbar-no-profileimg {
    height: 30px;
    width: auto;
    margin-top: 0;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
