.signup-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.signup-pic-container {
    width: fit-content;
    margin-right: 20px;
}

.signup-pic {
     height: 380px;
}
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-error {
    color: red;
    margin-bottom: 2px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* box-shadow: 0.8px 0.8px 0.8px 0.8px rgba(211, 211, 211, .5); */
}

.signup-label {
    font-size: 18px;
}

.signup-input {
    width: 200px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    border: solid 1px lightgrey;
}

.signup-login-button {
    width: 208px;
    height: 30px;
    background-color: rgb(42, 164, 239);
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}


.signup-sentence {
    margin-top: 10px;

}
