/* TODO Add site wide styles */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
    margin-top: -10px;
}

body {
    /* background-color: rgb(235, 232, 232); */
    background-color: rgb(241, 242, 243);
}

.questions-userImg {
    height: 40px;
    width: auto;
    margin-top: 0;
}
